.articles-block{
  .article-list-section{
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 1rem;
      
      .article-list-item{
        flex-direction: column;
        margin-top: 0;
      }
    }
  }
}