.home{
  .articles-block {
      .article-list-section {
        @media (min-width: 768px) {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          gap: 1rem;

          .article-list-item {
            flex-direction: column;
            margin-top: 0;
          }
        }
      }
    }
}

.wp-block-media-text {
  .wp-block-media-text__content{
    padding: 0;
  }
}

#comments{
  margin-top: 50px;
}