#footer {
  @media (min-width: 768px) {
    background-image: url(img/footer-bg.svg);
    background-color: transparent;
  }
  background-repeat-x: no-repeat;
  background-repeat-y: repeat;
  background-size: cover;
  background-position: top center;
  padding-top: 5rem;
  flex-wrap: wrap;
  @media (min-width: 1200px) {
    flex-wrap: nowrap;
  }
  h3{
    font-size: 1rem;
    text-align: left;
    color: var(--wp--preset--color--white);
    font-weight: bold;
  }
  p {
    font-size: 0.875rem;
    line-height: 1.4;
    text-align: left;
    margin-bottom: 0;
  }
  .company-message{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    .primary-message,
    .secondary-message{
      flex-basis: 50%;
      margin-bottom: 1rem;
      max-width: 600px;
    }
  }
  .footer-menu,
  .primary-message{
    @media (min-width: 1200px) {
      min-width: 350px;
      max-width: 550px;
    }
  }
  .content-row{
    gap: 2rem;
    justify-content: space-between;
  }
  #footer-logo{
    text-align: left;
    margin-bottom: 2.5rem;
    img{
      max-width: 160px;
    }
  }
  .footer-info{
    .address,
    .info{
      margin-bottom: 2rem;
    }
  }
  .copyright {
    .container{
      justify-content: center;
    }
    span:not(:last-of-type):after{
      display: none !important;
    }
  }
}

.home{
  #footer{
    @media (min-width: 768px) {
      margin-top: -100px;
    }
  }
}
