:root {
  --font-family-secondary: 'Work Sans';
  --font-family-tertiary: 'Work Sans';
  --font-family-button: 'Work Sans';
}

h3,
h4,
h5,
h6{
  font-family: var(--font-family-secondary), sans-serif;

  a{
    &:active,
    &:visited,
    &:hover {
      font-family: var(--font-family-secondary), sans-serif;
    }
  }
}