:root {
  --font-family-secondary: 'Work Sans';
  --font-family-tertiary: 'Work Sans';
  --font-family-button: 'Work Sans';
  --footer-menu--li--font-size: 15px;
}

h3,
h4,
h5,
h6{
  font-family: var(--font-family-secondary), sans-serif;

  a{
    &:active,
    &:visited,
    &:hover {
      font-family: var(--font-family-secondary), sans-serif;
    }
  }
}

@media (min-width: 1600px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    &:not(.narrow-container){
      max-width: 1600px;
    }
  }
}