.home{
  #header {
    background-color: transparent;
    box-shadow: none;

    .nav-menu>ul {
      .nav-link {
        --color-text-nav_link: var(--wp--preset--color--white);
      }
    }

    #search_form {
      #search_input {
        &::placeholder {
          color: var(--wp--preset--color--white);
        }
      }
  
      button {
        .icon {
          fill: var(--wp--preset--color--white);
        }
      }
    }
  }
}
#header {
  font-family: var(--font-family-secondary), sans-serif;
  align-items: center;

  .nav-menu>ul {
    gap: 1rem;
  }

  @media (min-width: 1200px) {
    .nav-search-form {
      min-width: 20%;
    }
  }

  #nav-mobile {
    display: none;
  }

  .site-logo {
    transition: all 0.3s;

    &.largelogo {
      width: 260px;
    }

    &.smalllogo {
      width: 130px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &.white-background {
    .nav-menu>ul {
      .nav-link {
        --color-text-nav_link: var(--wp--preset--color--black);
      }
    }

    #search_form {
      #search_input {
        &::placeholder {
          color: var(--wp--preset--color--grey-900);
        }
      }

      button {
        .icon {
          fill: var(--wp--preset--color--black);
        }
      }
    }
  }
}