h1 {
  font-family: var(--font-family-primary), sans-serif !important;
  font-weight: 700 !important;
  font-size: 3.5rem !important;
  line-height: 4.25rem !important;
  text-transform: uppercase !important;
}

h2 {
  font-family: var(--font-family-secondary), sans-serif !important;
  font-weight: 600 !important;
  font-size: 2.5rem !important;
  line-height: 3rem !important;
}

h3 {
  font-family: var(--font-family-secondary), sans-serif !important;
  font-weight: 600 !important;
  font-size: 1.75rem !important;
  line-height: 2.25rem !important;
  text-transform: uppercase !important;
  color: #66cc00 !important;
  letter-spacing: 0.1em !important;
}

h4 {
  font-family: var(--font-family-secondary), sans-serif !important;
  font-weight: 600 !important;
  font-size: 1.375rem !important;
  line-height: 1.75rem !important;
}

h5 {
  font-family: var(--font-family-secondary), sans-serif !important;
  font-weight: 600 !important;
  font-size: 1.25rem !important;
  line-height: 1.5rem !important;
}

h6 {
  font-family: var(--font-family-secondary), sans-serif !important;
  font-weight: 600 !important;
  font-size: 1rem !important;
  line-height: 1.25rem !important;
}

p {
  font-family: var(--font-family-secondary), sans-serif !important;
  font-weight: 400 !important;
}

quote {
  font-family: var(--font-family-primary), sans-serif !important;
  font-weight: 700 !important;
  font-size: 2.5rem !important;
  line-height: 3rem !important;
}

.nav-item > * {
  font-family: var(--font-family-primary), sans-serif !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
}
