<div class="container">
<<<<<<< HEAD
  <img
    src="{{ data_nav_bar.images }}gp-logo-light.svg"
    alt="Greenpeace"
    data-ga-category="Footer"
    data-ga-action="Greenpeace Logo"
    data-ga-label="{{ page_category }}">
=======
  <img src="https://www.greenpeace.org/static/planet4-australiapacific-stateless-develop/2023/11/34d8d68f-logo-white.png" alt="Footer Logo" />
>>>>>>> 4a15064 (creating custom footer and adding ACF options page)
</div>