<div class="secondary-message">
  <h3>Commitment to Diversity</h3>
  <p>Climate change impacts certain people disproportionately and we work towards our commitment to equity and inclusion across race, gender, age, religion, identity, and experience every day, so that everyone can live a brighter future.</p>
</div>