<div class="footer-info">
  <div class="address">
<<<<<<< HEAD
    <p>2C Hayes Road, Rosebery NSW, 2018, Australia</p>
=======
    <p class="address">2C Hayes Road, Rosebery NSW, 2018, Australia</p>
>>>>>>> 4a15064 (creating custom footer and adding ACF options page)
  </div>
  <div class="info">
    <p>Copyright © Greenpeace Australia Pacific 2023</p>
    <p>ABN: 61 002 643 852</p>
    <p>Charity Number: ????</p>
  </div>
  {% if (social_overrides is defined and social_overrides|length) or footer_social_menu|length %}
      {% include 'footer_social_media.twig' %}
  {% endif %}
</div>