<div class="primary-message">
  <h3>Acknowledgement of Country</h3>
  <p>Greenpeace’s mission is to secure an earth capable of nurturing life in all of its magnificent diversity. We acknowledge the nurturing of land and waters by Indigenous peoples since time immemorial. We acknowledge the enduring sovereignty of Indigenous peoples of Australia and the Pacific. We acknowledge we stand on the traditional lands of Indigenous peoples and pay respect to elders past and present.</p>
</div>