<div class="container">
  <img
    src="{{ data_nav_bar.images }}gp-logo-light.svg"
    alt="Greenpeace"
    data-ga-category="Footer"
    data-ga-action="Greenpeace Logo"
    data-ga-label="{{ page_category }}">
</div>